body{
    margin: 0 auto;
    padding: 0;
}
body.dark{
    background-color:teal ;
}
body.light{
    background-color: beige;
}
.App{
    padding: 25px;
    box-sizing: border-box;
    height:13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0 0 10px;
}
.App-title{
    display: flex;
    align-items: center;
    width: 40%;
}
.App-title h1{
    font-family:Rubik ;
    font-size: 30px;
}
.App-btn{
    width:max-content;
    border-radius: 100%;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Search-bar{
    padding: 0% 40%;
    display: flex;
    margin: 3% auto;
}
.Search-bar input{
    width:100%;
    padding: 0.5%;  
    border-radius: 5px;
    font-family: Rubik;
}
.Search-bar select{
    width: 55%;
    padding: 5px;
    font-family: Rubik;
    color:teal;
    border-radius: 5px;
}
.Countries-body{
    width:95%;
    margin:0% auto;
    margin-top: 4%;
    display:flex;
    flex-basis: 40%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Countries-body .Linkin{
    width: 23%;
    text-decoration: none;
    margin: 1% 0;
}
.Countries-body .country{
    height:50vh;
    border-radius: 5px;
    box-shadow: 0 10px 10px -5px black;
}
.Countries-body img{
    width: 100%;
    height: 30vh;
}
.country h1{
    font-size: 18px;
    font-weight: lighter;
    font-family: Gemunu Libre;
    line-height: 5px;
    padding: 3px 5px;
}
.country h1 .sp{
    color: beige;
    font-size: 15px;
    font-family: Rubik;
}
.A-country{
    margin:3% auto;
}
.A-country .A-link{
    text-decoration: none;
    font-size: 17px;
    margin: 0% 3%;
    background-color: black;
    border-radius: 5px;
    padding: 5px;
    color:beige;
    width: max-content;
}
.A-country .A-section{
    width:90%;
    height:60vh;
    margin:1% auto;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.A-section img{
    width:45%;
}
.A-country-details h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.sp1{
    color:red;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
    .App{
        width: 100%;
        /* box-sizing: border-box; */
    }
    .App-title h1{
        font-size: medium;
    }
    .Search-bar {
       padding: 0% 5%;
    }
    .Countries-body{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .Countries-body .Linkin{
        width: 95%;
        margin:3%
    }
    .A-country .A-link{
        font-size: 14px;
        padding: 2px;
    }
    .A-country-details h1{
        font-size: 16px;
    }
    
}